
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
  margin: 10px 0px 0px 20px ;
  background-image: url(../img/Logo.png);
  background-size: contain;
  display: inline-block;
  height: 50px;
  width: 50px;

}

/* titolo */
h1 {
  display: inline-block;
  height: 60px;
  font-size: 40px;
  position: absolute;
  /*allineamento titolo al logo. più o meno funziona, sicuramente non è la soluzione giusta. TORNA PIù TARDI */
  top: 9px;
}

/* centratura parte centrale */
main {
  text-align: center;
}

/* si applica a tutti i tasti */
.tasto {
  text-align: center;
  display: inline-block;
  height: 25px;
}

/* si applica solo ai tasti superiori */
.add {
  border: 1px; 
  border-radius: 5px;
}

.task {
  width: 70px;
  background-color: #14aaf5;
  color: white;
}

.section {
  border-style: solid;;
  width: 85px;
  border-color: #c4cbd0;
  color: #c4cbd0;
}
