* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin: 10px 0px 0px 20px;
  background-image: url(../img/Logo.png);
  background-size: contain;
  display: inline-block;
  height: 50px;
  width: 50px;
}

/* titolo */
h1 {
  height: 60px;
  font-size: 40px;
  position: absolute;
  margin-top: 10px;
}

/* spaziatura sotto il titolo */
header {
  margin-bottom: 70px;
}

/* centratura parte centrale */
main {
  margin: 0 0 50px 20%;
}

/* si applica a tutti i tasti */
.tasto {
  text-align: center;
  line-height: 25px;
  padding: 5px;
}

/* si applica solo ai tasti superiori */
.add {
  border: 1px;
  border-radius: 5px;
}

.task {
  width: 70px;
  background-color: #14aaf5;
  color: white;
}

.section {
  border-style: solid;
  width: 85px;
  border-color: #c4cbd0;
  color: #c4cbd0;
}

/* spaziatura sotto i 2 tasti */
.marginesotto1 {
  margin-bottom: 30px;
}

.marginesotto2 {
  margin-bottom: 10px;
}

.marginesotto3 {
  margin-bottom: 20px;
}

.inlineblock {
  display: inline-block;
}

.check1 {
  width: 17px;
  height: 17px;
  color: #2cc6ab;
  border: #2cc6ab solid 1px;
  border-radius: 50%;
  position: relative;
  top: 6px;
}

.check2 {
  width: 17px;
  height: 17px;
  color: #ff4141;
  border: #ff4141 solid 1px;
  border-radius: 50%;
  position: relative;
  top: 6px;
}

.span {
  position: relative;
  top: -3px;
}

.tasti {
  color: white;
  border-radius: 8px;
}

.spaziotesto {
  display: inline-block;
  padding: 5px 10px;
}

.blu {
  background-color: #14aaf5;
}

.viola {
  background-color: #ab5de6;
}

.verde {
  background-color: #2cc6ab;
}

.arancio {
  background-color: #ff9b00;
}

.rosa {
  background-color: #ec4a9d;
}

.verde2 {
  background-color: #a3d116;
}
